
.flashcard {
    width: 200px;
    height: 150px;
    perspective: 1000px;
}

.flashcard div {
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.flashcard.flipped .front {
    transform: rotateY(180deg);
}

.flashcard.flipped .back {
    transform: rotateY(0);
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.back {
    transform: rotateY(180deg);
}
